!!! 5
html(lang='en')
  head
    title Network Debugger
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .background
      .header
        img(src='images/spotterrf-labs-white-logo.png', alt='')
        h1 Network Debugger
      .container
          ul.css-tab-menu
            li.js-ui-tab.js-http
              a(href='/http') HTTP
            li.js-ui-tab.js-tcp
              a(href='/tcp') TCP
            li.js-ui-tab.js-udp
              a(href='/udp') UDP

          .js-ui-tab-view.css-ui-tab-view(data-name='tcp')
            p Enter the port to listen on and click 'Listen'
            .css-listen-form
              input.js-tcp-portNum.css-tcp-portNum(type='text')
              a.css-button.js-tcp-openSocket Listen
            .css-connection-info
              .css-connection-status.js-tcp-connection-status.off Connection Status
              div Listening to
                span.css-connection-count.js-tcp-connection-count 0
                span devices
            .css-top.right
              input.js-tcp-multifile(type="checkbox")(checked="true")
              p Save each packet seperately
              a.css-button.js-tcp-log.css-tcp-log
            .js-tcp-stream.js-all-stream.css-stream
              span.js-allstream-error
            div.css-left.css-bottom
              a.css-button.js-tcp-closeSocket.inactive Close Connection
            div.css-center.css-bottom
              a.css-button.js-tcp-clear Clear
            div.css-right.css-bottom
              p Lock scroll to bottom
              input.js-tcp-scroll(type="checkbox")(checked="true")

          .js-ui-tab-view.css-ui-tab-view(data-name='http')
            p.css-enter-port Enter the port to listen on and click 'Listen'
            .css-log-options
              input.js-include-headers(type="checkbox")(checked="true")
              p Save headers
            .css-listen-form
              input.js-http-portNum.css-tcp-portNum(type='text')
              a.css-button.js-http-openSocket Listen
            .css-connection-info
              .css-connection-status.js-http-connection-status.off Connection Status
            .css-top.right
              p Save each packet seperately
              input.js-http-multifile(type="checkbox")(checked="true")
              a.css-button.js-http-log.css-tcp-log
            .js-http-stream.js-all-stream.css-stream
              span.js-allstream-error
            div.css-left.css-bottom
              a.css-button.js-http-closeSocket.inactive Close Connection
            div.css-center.css-bottom
              a.css-button.js-http-clear Clear
            div.css-right.css-bottom
              p Lock scroll to bottom
              input.js-http-scroll(type="checkbox")(checked="true")

          .js-ui-tab-view.css-ui-tab-view(data-name='udp')
            p Enter the port to listen on and click 'Listen'
            .css-listen-form
              input.js-udp-portNum.css-tcp-portNum(type='text')
              a.css-button.js-udp-openSocket Listen
            .css-connection-info
              .css-connection-status.js-udp-connection-status.off Connection Status
            .css-top.right
              p Save each packet seperately
              input.js-udp-multifile(type="checkbox")(checked="true")
              a.css-button.js-udp-log.css-tcp-log
            .js-udp-stream.js-all-stream.css-stream
              span.js-allstream-error
            div.css-left.css-bottom
              a.css-button.js-udp-closeSocket.inactive Close Connection
            div.css-center.css-bottom
              a.css-button.js-udp-clear Clear
            div.css-right.css-bottom
              p Lock scroll to bottom
              input.js-udp-scroll(type="checkbox")(checked="true")

      span.js-message-template
        span
        br
      span.js-timestamp-template
        .css-streamTime
      span.js-code-template
        pre
          span
          code.highlight-me

//script(src="./vendor/pure.js")
script(src='./vendor/highlight.pack.js', type='text/javascript')
script(src='pakmanaged.js', type='text/javascript')
